/*CONTAINER PARAMETERS*/



.headerContainer {
    background-image: url("../images/MTPheaderthumb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
}

.navContainer {
    display: block;
    width: 50%;
    color: green;

}

.mainContainer {
    width: 100%;
    color: yellow;

}

#contactInfo {
    width: 80%;
    color: blue;

}

#nameInfo {
    width: 70%;
    color: black;

}

#emailInfo {
    width: 70%;
    color: brown;

}

#messageMe {
    width: 70%;
    color: orange;

}

#messageBox {
    width: 100%;
    color: cyan;

}

.footerProps {
    width: 100%;
    color: pink;

}



/*TEXT PARAMETERS*/

.fancyLogo {
    background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 100px;
    font-family: 'Permanent Marker', cursive;
    width: auto;
    margin: 50px auto;
    text-align: center;
}

.page1Title {
    color: green;
}

.headSubtext {
    font-style: oblique;
    font-weight: bolder;
    font-size: 28pt;
    color: rgb(0, 0, 0);
    Font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: -webkit-linear-gradient(rgb(190, 122, 12), rgb(9, 21, 192));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 0pt;
}


/*INTERACTIVE ITEMS*/

#sendmessage {
    width: 20%;
    color: aqua;

}
