

/*CONTAINER PARAMETERS*/


.pageContainer {
    display: grid;
}

.headerContainer {
    display: inline-flexbox;
    background-image: url(../Images/MTPheaderthumb.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-top: -20%;
    margin-bottom: -30pt; /*allows for the header and article to share space behind the navbar*/
}

.navContainer {
    display: inline-flexbox;
    border-style: groove;
    border-color: black;
    border-width: 5pt;
    margin-left: 5%;
    margin-right: 5%;
    background: rgb(9,1,237);
    background: radial-gradient(circle, rgba(9,1,237,0.8267682072829132) 0%, rgba(204,70,53,0.6502976190476191) 0%, rgba(101,61,172,1) 0%, rgba(62,57,217,1) 11%, rgba(173,63,85,1) 17%, rgba(118,53,141,1) 18%, rgba(18,17,64,0.9668242296918768) 20%, rgba(185,6,6,0.6474964985994398) 21%, rgba(236,106,29,1) 22%, rgba(236,106,29,1) 22%, rgba(184,64,74,1) 24%, rgba(204,70,53,1) 34%, rgba(212,72,45,0.7511379551820728) 35%, rgba(210,69,46,0.3477766106442577) 36%, rgba(81,47,179,0.5382528011204482) 36%, rgba(8,0,255,0.6446953781512605) 36%, rgba(163,61,95,0.8183648459383753) 36%, rgba(173,63,85,0.7875525210084033) 36%, rgba(177,66,83,1) 40%, rgba(219,82,40,1) 41%, rgba(155,58,98,1) 46%, rgba(104,38,144,0.7595413165266106) 50%, rgba(9,2,230,1) 52%, rgba(142,53,110,1) 57%, rgba(8,0,244,0.6671043417366946) 60%, rgba(56,31,201,1) 60%, rgba(104,62,158,1) 68%, rgba(128,78,136,0.8855917366946778) 70%, rgba(160,60,98,0.9360119047619048) 76%, rgba(197,68,61,1) 87%, rgba(181,68,75,1) 90%, rgba(255,76,0,0.9164040616246498) 92%, rgba(133,75,130,1) 95%, rgba(0,0,0,1) 100%, rgba(217,135,57,1) 100%, rgba(11,2,221,0.3897934173669467) 100%, rgba(100,96,198,1) 100%, rgba(9,9,100,1) 100%, rgba(9,9,121,1) 100%, rgba(10,10,25,0.7259278711484594) 100%, rgba(0,212,255,1) 100%);
    /*Unnecessary fun*/
}

.navHeaderBox {
    display: inline-flexblock;
}

.mainContainer {
    width: 100%;
    color: yellow;

}

#contactInfo {
    width:     color: blue;

}

#nameInfo {
    width: 100%;
    color: rgb(0, 133, 111);
}

#emailInfo {
    width: 70%;
    color: brown;
}

#messageMe {
    background-color: rgb(229, 255, 0);
    color: orange;
}

#messageBox {
    width: 100%;
    color: cyan;

}

.footerProps {
    width: 100%;
    color: pink;

}

/*ROW AND COL PARAMETERS*/


.basicPageLayout {
    display: grid;
    width: 100%;
    color: black;
    background-image: url(../Images/geoBG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 5pt;

}

.mainBox {
    display: inline-flexbox;
    color: white;
    background-color: hsla(224, 89%, 17%, 0.74);
    padding: 10pt;
    border-style: groove;
    border-color: rgb(158, 76, 0);
    border-width: 6pt;
    text-align: justify;
    margin-top: 40pt;
    margin-bottom: 20pt;
}

.comingSoonRow {
}

.comingSoonCol {
    display: inline-flexbox;
    color: white;
    background-color: hsla(224, 89%, 17%, 0.74);
    text-align: center;
    padding: 10pt;
    border-style: groove;
    border-color: rgb(158, 76, 0);
    border-width: 6pt;
    margin-right: 10%;
    margin-left: 10%;
}

.testCol {
    display: inline-flexbox;
    color: white;
    background-color: hsla(224, 89%, 17%, 0.74);
    text-align: center;
    padding: 10pt;

}

.gutterCol {
    display: inline-block;
}

.logoRow {
    display: inline-block;
    margin-bottom:  -10pt;
}

#contactTop {
    display: inline-flexbox;
    color: white;
    background-color: hsla(224, 89%, 17%, 0.74);
    padding: 10pt;
    border-style: groove;
    border-color: rgb(158, 76, 0);
    border-width: 6pt;
    text-align: justify;
    margin-top: 40pt;
    margin-bottom: 20pt;
}

.contactBox {
    display:inline-block;
    color: white;
    background-color: hsla(224, 89%, 17%, 0.74);
    padding: 10pt;
    border-style: groove;
    border-color: rgb(158, 76, 0);
    border-width: 6pt;
    text-align: justify;
    margin-top: 40pt;
    margin-bottom: 20pt;
    width: 30%;
 }

 .contactBottom {
     background-color: hsla(224, 89%, 17%, 0.74);
     color: white;
     width: 100%;
 }

/*TEXT PARAMETERS*/

.fancyLogo {
    background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 32pt;
    font-family: 'Permanent Marker', cursive;
    width: auto;
    margin: 30px auto;
    text-align: center;
}

.page1Title {
    color: green;
}

.headSubtext {
    font-style: italic;
    font-weight: bolder;
    font-size: 14pt;
    color: rgb(0, 0, 0);
    Font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: -webkit-linear-gradient(rgb(255, 175, 46), rgb(9, 21, 192));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10%;
    margin-top:5%;
    text-align: right;
    margin-right: 10%;
}

.navHeaderText {
    font-weight: 700;
    font-size: 12pt;
}

.navText {
    
}

.meetMattHead {
    color: black;
    font-weight: 500;
    text-align: center;
}

.meetIHPADHead {
    color: black;
    font-weight: 500;
    text-align: center;
}

.contactInfoHeader {
    text-align: center;
}


/*STRUCTURAL PIECES*/

.dividerLine {
    display: inline-block;
    width: 80%;
    border-width: 3pt;
    border-style: solid;
    border-color: hsla(224, 96%, 50%, 0.897);
}

.imageBox {
    display: inline-flexbox;
    object-fit: contain;
    height: 100%;
    width: 100%;
}




/*INTERACTIVE ITEMS*/

#sendmessage {
    width: 20%;
    color: aqua;

}

footer {
    display: inline-block;
    height: 20pt;
    text-align: center;
    font-weight: 1000;
    background-color: rgb(68, 68, 173);
    color: white;
}